<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQb24df61sEfdlKfcaNHWn_baDsi6I7rw</string>
	<key>GCM_SENDER_ID</key>
	<string>756556508476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hello</string>
	<key>PROJECT_ID</key>
	<string>play-music-app-cb199</string>
	<key>STORAGE_BUCKET</key>
	<string>play-music-app-cb199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756556508476:ios:e4abb54d0ed6d7c2524239</string>
</dict>
</plist>